* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: system-ui, sans-serif;
    --light-color: #ffffff;
    --dark-color: #0891b2;
    --shadow-color: #8e8e8e;
}

h2 {
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.photo-header img,
.footer-image img {
    box-shadow: 3px 5px 15px var(--shadow-color);
}

.logo {
    width: 1.5rem;
    height: auto;
    display: inline;
}

body {
    overflow-x: hidden;
}

header {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-bg {
    background: var(--dark-color);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    transform: skewY(-15deg) translateY(-50%);
    z-index: -1;
}

.photo-header {
    padding: 1rem;
    position: relative;
    max-width: 500px;
}

.name {
    padding: 2rem;
    position: absolute;
    font-size: 3rem;
    color: var(--light-color);
    bottom: 0;
    left: 0;
}

.about-me {
    margin-top: 1rem;
    line-height: 1.5;
}

.social-links {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

main {
    padding: 1rem 1rem 2rem;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin-top: 1rem;
    gap: 2rem;
}

.card {
    box-shadow: 3px 5px 15px var(--shadow-color);
}

.project-name {
    font-size: 1.2rem;
}

.project-info {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.project-description {
    padding: 0 2rem 2rem;
}

.project-links {
    display: flex;
    gap: 1rem;
}

.project-screenshot {
    padding: 4rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    text-align: center;
    color: var(--light-color);
    background-color: var(--dark-color);
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--dark-color);
    padding: 1rem;
    color: var(--light-color);
}

.footer-heading {
    margin-bottom: 1rem;
}

.contact-paragraph {
    margin-bottom: 1rem;
}

.contact-info {
    padding: 1rem;
}

.city-info {
    margin-bottom: 1rem;
}

.footer-image {
    margin-top: 1rem;
    padding: 1rem;
    max-width: 400px;
}

.footer-image img {
    box-shadow: 3px 5px 15px #034657;
}

footer > * {
    flex: 1;
}

@media (min-width: 500px) {

    header {
        flex-direction: row;
        position: relative;
    }

    .photo-header {
        min-width: 400px;
    }

    .about-me {
        background: var(--light-color);
        padding: 1rem;
        box-shadow: 3px 5px 15px var(--shadow-color);
    }

    footer {
        flex-direction: row;
    }

    header,
    main, 
    footer {
        padding: 2rem;
    }
}