* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: system-ui, sans-serif;
    --light-color: #ffffff;
    --dark-color: #0891b2;
    --shadow-color: #474747;
}

h2 {
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.photo-header img {
    box-shadow: 3px 5px 12px var(--shadow-color);
}

.logo {
    width: 1.5rem;
    height: auto;
    display: inline;
}

header {
    padding: 1rem;
}

.header-bg {
    background: var(--dark-color);
    min-width: 100%;
    min-height: 50%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(-50%) scale(1.5) rotate(-15deg);
    z-index: -1;
}

.photo-header {
    position: relative;
    padding: 1rem;
}

.photo-header .name {
    padding: 1rem;
    position: absolute;
    font-size: 4rem;
    color: var(--light-color);
    bottom: 0;
}

.about-me {
    margin-top: 1rem;
    line-height: 1.5;
}

.social-links {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

main {
    padding: 1rem 1rem 2rem;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-top: 1rem;
    gap: 2rem;
}

.card {
    box-shadow: 3px 5px 12px var(--shadow-color);
}

.project-name {
    font-size: 1.2rem;
}

.project-info {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.project-description {
    padding: 0 2rem 3rem;
}

.project-links {
    display: flex;
    gap: 1rem;
}

.project-screenshot {
    padding: 4rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    text-align: center;
    color: var(--light-color);
    background-color: var(--dark-color);
}

footer {
    background: var(--dark-color);
    padding: 1rem;
    color: var(--light-color);
}

.footer-heading {
    margin-bottom: 1rem;
}

.contact-paragraph {
    margin-bottom: 1rem;
}

.city-info {
    margin-bottom: 1rem;
}

.footer-image {
    margin-top: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}